@import './variables';

.product-card {
	width: 100%;
	text-align: center;

	.card-title {
		font-size: 1.23rem !important;
	}

	.image-container {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			min-height: 100%;
			object-fit: cover;
			border-bottom: 1px solid rgba(0, 0, 0, 0.175);
		}
	}

	.card-body {
		.price {
			color: $primary-color;
			font-weight: bold;
			font-size: 1.2rem;
		}

		.add-cart-btn {
			background: $accent-color;
			color: $background-color;

			&:hover {
				color: $accent-color;
				background-color: white;
				border: 1px solid $accent-color;
			}
		}
	}
}

@media (max-width: 576px) {
	.product-card img {
		max-height: 150px;
	}
}
