@import './variables.css';
.header {
	padding: 15px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar-brand {
	font-size: 1.4rem;
	font-weight: 800;
  color: var(--primary-color);
}

.navbar-nav .nav-item .nav-link.active {
	color: var(--secondary-color) !important;
	font-weight: bolder;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	margin-right: 20px;
}

nav li {
	margin-right: 20px;
	list-style-type: none;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}

nav .nav-link:hover {
	color: var(--secondary-color) !important;
}
.cart-link-icon {
	color: var(--text-color);
}

.cart-link-icon:hover {
	color: var(--secondary-color);
}

.cart-link-icon.active .bi-cart-fill {
	color: var(--secondary-color) !important;
}
.bi-cart-fill {
	font-size: 1.8rem !important;
}

.badge {
	padding: 5px !important;
}
.logout-btn {
	background-color: var(--accent-color) !important;
	color: white;
}
