/* Use the color variables for styling */
@import './variables.css';

.product-details {
  display: flex;
  padding: 20px;
}

.product-details > .product-image {
  flex: 1;
}

.product-details > .product-image > img {
  max-width: 100%;
}

.product-info {
  flex: 1;
  padding: 20px;
}

.product-info > h2 {
  color: var(--text-color);
}

.product-info .price {
  color: var(--accent-color);
}

.product-info button {
  background-color: var(--button-color);
}
